#sve {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.item {
  padding: 10px;
}

@media all and (max-width: 1080px) {
  img {
    width: 300px;
    height: 200px;
  }
}

@media all and (max-width: 720px) {
  #sve {
    display: flex;
    flex-direction: column;
  }
}
