#triSaTri {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.legende {
  width: 250px;
  height: 300px;
  padding-bottom: 20px;
}

p {
  padding-bottom: 20px;
}

@media all and (max-width: 1080px) {
  #triSaTri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
  }
  .naslov {
    grid-column: span 2;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 720px) {
  #triSaTri {
    display: flex;
    flex-direction: column;
  }
  img {
    margin-bottom: 50px;
  }
}
